{% extends 'base.html' %}

    {% block navbar %}
    <div>

    	<h2>工艺信息系统</h2>
    <nav>
          <a href="{{ url_for('process.stations') }}"><strong>工位清单</strong>|</a>
          <a href="{{ url_for('process.info', url='jig') }}" target="_blank">夹具表|</a>
          <a href="{{ url_for('process.info', url='part') }}" target="_blank">零件表|</a>
          <a href="{{ url_for('process.info', url='weldspot') }}" target="_blank">焊点表|</a>
          <a href="{{ url_for('process.info', url='tujiao') }}" target="_blank">涂胶明细表|</a>
	</nav>


    </div>

    {%- endblock navbar %}