<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart show</title>
</head>
<body>
<!--	<div class="row">-->
<!--		<div class="span6">-->
            <h2>pygal 图 embed</h2>
            <figure>
            <embed src="/hello/pygal" type="image/svg+xml">
            </figure>
<!--		</div>-->
<!--		<div class="span6">-->
            <h2>pygal 图 object</h2>
            <object data="/hello/pygal" type="image/svg+xml"></object>

<!--		</div>-->
<!--	</div>-->
</body>
</html>