{% extends 'base_process.html' %}
{% from 'bootstrap/form.html' import render_form %}


{% block title %}{{ table_name }}{% endblock title %}


{% block content %}

{% if table == 'part' %}

	{{ render_form(input_part_form) }}

{% endif %}
<hr>


<h2>{{ table_name }}</h2>

{{ df_html | safe }}

<hr>
<p class="text-info">上传文件名请以 <strong> {{ table[:-5] }} </strong> 开头，格式：【<strong>{{ table[:-5] }}</strong>?????】，示例：【<strong>{{ table[:-5] }}</strong>20201225.xlsx】</p>
{{ render_form(upload_table_form) }}
<hr>
    {% for msg in get_flashed_messages() %}
    <div>
    <strong><p>{{ msg }}</p></strong>
    </div>
    {% endfor %}
<hr>

{% endblock content %}

{% block scripts %}
	{{ super() }}

{% endblock scripts %}