{% extends 'base_process.html' %}

{% block title %} stations {% endblock title %}


{% block content %}


<a href="{{ url_for('process.download_station_pdf', stations_pdf='stations') }}">工位信息明细下载</a>

<h2>工位清单表</h2>
<table border="1">
	<thead>
		<tr>
			{% for head in station_header %}
			<th>{{ head }}</th>
			{% endfor %}
			<th>工位链接</th>
			<th>工位权重</th>
		</tr>
	</thead>

	<tbody>
		{% for row in station_list %}

		<tr>
			{% for col in row %}
				<td>{{ col }}</td>
			{% endfor  %}
			<td><a href="{{ url_for('process.station', station=row[0]) }}" target="_blank" title="点击查看工位详细内容">{{ row[1] }}</a></td>
			<td class="text-center "><strong> {{ station_weight_dict[row[0]] }}</strong></td>
		</tr>

		{% endfor %}
	</tbody>


</table>


<hr>
<hr>

<hr>
<h3>网页二维码地址:</h3>
 <br>

<img src="data:image/jpeg;base64,{{ qr_img_data }}"/>



{% endblock content %}

{% block scripts %}
	{{ super() }}

{% endblock scripts %}