{% extends 'base.html' %}

{% block title %} stations {% endblock title %}


{% block content %}

<h2>station table</h2>
<table border="1">
	<thead>
		<tr>
			{% for head in station_header %}
			<th>{{ head }}</th>
			{% endfor %}
			<th>工位链接</th>
		</tr>
	</thead>

	<tbody>
		{% for row in station_list %}

		<tr>
			{% for col in row %}
				<td>{{ col }}</td>
			{% endfor  %}
			<td><a href="{{ url_for('process.station', station=row[1]) }}" target="_blank" title="连接到工位">{{ row[2] }}</a></td>

		</tr>

		{% endfor %}
	</tbody>


</table>


<hr>
<hr>
<h2>工位清单</h2>
{{ station_table_html | safe }}

{% endblock content %}

{% block scripts %}
	{{ super() }}

{% endblock scripts %}