{% extends 'base_process.html' %}

{% block title %} {{ station }}工位明细 {% endblock title %}
{% block styles %}
{{ super() }}

<!--# 自定义式样-->
<style type="text/css">
#main_tbody>tr>td{border:3px solid gray}

.bt_null_rows_active{
	background-color:orange;
	font-weight:900;
}

</style>

{% endblock styles %}

{% block content %}
<h2>{{ station }}工位明细</h2>
<input type="button" id="bt_null_rows_hide" class="bt_null_rows" onclick="null_rows_hide()" value="隐藏空数据源">
<input type="button" id="bt_null_rows_show" class="bt_null_rows" onclick="null_rows_show()" value="显示所有数据源">

<table border="5">
	<thead>
		<th>项目</th>
		<th>数量</th>
		<th style="text-align:center">内容</th>

	</thead>

	<tbody id="main_tbody">
		{% for tb, content in station_dict.items() %}
		<tr>
			<td>{{ table_name_dict[tb] }}</td>
			<td>{{ content.shape[0] }}</td>
			<td>{{ content.to_html() | safe }}</td>
		</tr>
		{% endfor %}
	


	</tbody>



</table>


<hr>
<hr>

{% endblock content %}

{% block scripts %}
	{{ super() }}


<!--隐藏显示无数据内容-->
<script>

	function null_rows_hide(){
		null_rows = $('#main_tbody > tr').filter(function(index){return ($(this).children().filter(":nth-child(2)").text() == 0) });
		null_rows.each(function(index){$(this).hide()});
		$("#bt_null_rows_hide").addClass("bt_null_rows_active");
		$("#bt_null_rows_show").removeClass("bt_null_rows_active");
	}

	function null_rows_show(){
		null_rows = $('#main_tbody > tr').filter(function(index){return ($(this).children().filter(":nth-child(2)").text() == 0) });
		null_rows.each(function(index){$(this).show()});
		$("#bt_null_rows_show").addClass("bt_null_rows_active");
		$("#bt_null_rows_hide").removeClass("bt_null_rows_active");
	}


</script>



<!--增加零件超链接查询BOM功能  连接到info/part页面-->
<script>
	$(document).ready(function(){

		part_td = $("#main_tbody tr :contains(零部件清单表)").siblings(":contains(lingjianhao)")

		pattern = /^[A|Q|9][\w|\d]{7,9}/gi
		cell_tds= part_td.find("td").filter(function(){return (pattern.test(this.innerText))})

		cell_tds.each(function(){
		$(this).css("background-color", "yellow");


		cell_tds.each(function(){
			$(this).click(function(){
				// window.location.href="https://www.runoob.com";
				
				// 取得要提交的参数
				var my_val = this.innerText;
				// 取得要提交的页面URL，注意是否要带引号
				var action = "{{ url_for('process.info', _external=True, url='part', _method='POST') }}";
				// var action = "https://www.runoob.com";

				// 创建Form
				var form = $('<form></form>');
				// 设置属性
				form.attr('action', action);
				form.attr('method', 'post');
				form.attr('target', '_blank');
				// 创建Input
				var my_input = $('<input type="text" name="search_lingjianhao" />');
				my_input.attr('value', my_val);

				// 附件到Form
				form.append(my_input);
				$("body").append(form);

				// 提交表单
				form.submit();

				return false;

			})
		})
		})
	})

</script>

{% endblock scripts %}